*{
    margin :0;
    padding: 0;
    box-sizing:border-box;

}

body{
    background-image:url("./IMG-20230417-WA0019.jpg") ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    backdrop-filter: blur();
}
input[type=text]{
    border:none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: none;
    border-bottom:1px solid black;
    background-color: transparent;
    color: aliceblue;
}
h1{
    text-align: center;
    font-size: 35px;
    color: aliceblue;
}

.box{
    padding: 10px;
    width:500px ;
    justify-content: center;
    height: 350px;
    border:  2px solid black;
    float: left;
    margin: 10%;
    background-color: transparent;
                }